
global
  maxconn 4096

defaults
    mode                tcp
    # Timeout values should be configured for your specific use.
    # See: https://cbonte.github.io/haproxy-dconv/1.8/configuration.html#4-timeout%20connect
    timeout connect     10s
    timeout client      1m
    timeout server      1m
    # TCP keep-alive on client side. Server already enables them.
    option              clitcpka

listen psql
    bind :26257
    mode tcp
    balance roundrobin
    server cockroach1 n1:26257 check
    server cockroach2 n3:26257 check
    server cockroach3 n4:26257 check
    server cockroach4 n2:26257 check

listen web
    bind :8080
    mode http
    balance roundrobin
    server cockroach1 n1:8080 check
    server cockroach2 n3:8080 check
    server cockroach3 n4:8080 check
    server cockroach4 n2:8080 check


